In [ ]:
import pandas as pd

df = pd.read_html('./data/spac_list.html')[0]
df.to_csv('./data/spac_list.csv')

## yfinance 로 합병 전 SPAC 의 주가 데이터를 불러올 수 있는지 본다.

합병 전 ticker 는 보통 spac 스폰서 회사에서 계속 반복해서 티커명을 사용하기 때문에 데이터를 불러올 수 없다. 합병 후 기업의 티커명으로 당시 주가를 찾아야 한다.

yfinance 기준으로 합병 이전 데이터가 있는 회사도 있고 없는 회사도 있다.

예시로 `MGY` 종목은 합병 이전 주가가 차트에 반영되어있고, `LAZY` 는 그렇지 않다.

In [15]:
feasible_spac = 'MGY'
unfeasible_spac = 'LAZY'

import yfinance as yf

mgy = yf.Ticker(feasible_spac)
lazy = yf.Ticker(unfeasible_spac)


mgy_hist = mgy.history(start="2017-01-01", end="2018-07-31")
lazy_hist = lazy.history(start="2017-01-01", end="2018-03-15") # no data

mgy_hist

             Open   High     Low  Close   Volume  Dividends  Stock Splits
Date
2017-06-29  10.00  10.00  10.000  10.00     1100          0             0
2017-06-30  10.25  10.25  10.050  10.06     3300          0             0
2017-07-03  10.06  10.06  10.060  10.06        0          0             0
2017-07-05  10.06  10.06  10.060  10.06        0          0             0
2017-07-06  10.06  10.06  10.060  10.06        0          0             0
...           ...    ...     ...    ...      ...        ...           ...
2018-07-24  12.64  12.85  12.330  12.78  1967700          0             0
2018-07-25  12.99  13.00  12.680  12.76  1386900          0             0
2018-07-26  12.71  12.87  12.355  12.39   907800          0             0
2018-07-27  12.46  12.64  11.920  12.18   738100          0             0
2018-07-30  12.29  12.80  12.250  12.26   405700          0             0

[273 rows x 7 columns]